
*{
    margin: 0;
    padding: initial;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-image: url('BG2.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    height: 100vh;
    min-height: 500px;
}
html{
    scroll-behavior: smooth;
}
.box{
    font-size: 20px;
    margin: auto;
    text-align: center;
    width:max-content;
    border-radius: 10px;
    border-width: 6px;
    padding: 20px;
    font-weight: bolder;
    border: solid darkcyan;
}
.box :hover{
    background-color: aquamarine;
}
[class*='box-'] {
    border: dotted white;
    padding: 10px;
    margin: 10px;
    background-color: darkcyan;
}
a{
    color: black;
}