@import 'utilities.css';
:root{
    --one:gainsboro;
    --two:gray;
    --three:honeydew;
    --four:lightskyblue;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smotthing: antialiased;
}
.right{
 display: flex;
  align-items: left;
  justify-content: bottom;
  flex-direction: column;
  width: 80%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}


/*header{
    background-image:url('test.jpg');
    background-repeat:repeat;
    background-size:100% 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 85% 90%, 0 100% );
}*/
/*body{
    background-image:url('test.jpg');
    background-repeat:repeat;
    background-size:100% 100%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 85% 90%, 0 100% );
} */


body{
    background-image:url('Background3\(project3\).jpg');
    background-size: cover; 
    background-position: top center;
    position: relative;
    z-index: 1;
}


.container{
    max-width: 1152px;
    padding: 0 15px;
    margin: 0 auto;
}
header nav .left a{
    color:aliceblue;
    text-decoration:none;
    margin-right:48px;
    text-transform: uppercase;
}
header nav .left a:hover{
    color:var(--four);
    transition:.3s ease;
}
header nav{
    padding:32PX 0;    
}
header nav div .logo{
    margin-right:48px;
}
.hero .right{
    color:aliceblue;
    margin-top:-112px;
}
.hero .right h6{
    font-size:26px;
    color: var(--four);
    margin-bottom: 8px;
}
.hero .right h1{
    font-size: 64px;
    font-weight:100;
    line-height: 1.2;
    margin-bottom: 32px;
}
.hero .right h1 span{
    color:var(--four);
}
.hero .right p{
    line-height: 1.9;
    margin-bottom: 32px;
}
p{
    color:antiquewhite;
    font-size:20PX;
}

/* Logo */
.logo img {
    border-radius: 200%;
}

.left, .right {
    padding: 60px;
}

